# Dependencias
node_modules/

# Archivos compilados de TypeScript
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.local
.env.*.local

# Lock files (opcional)
package-lock.json
yarn.lock

# IDEs y sistema
.DS_Store
.idea/
.vscode/
*.swp
*.swo