# Build
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# iOS y Android generados automáticamente
ios/Pods/
ios/.symlinks/
ios/Flutter/
android/.gradle/
android/app/build/

# IDEs y sistema
*.iml
*.log
*.swp
.DS_Store
.idea/
.vscode/

# Archivos de entorno
.env
